*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: gray;
}
.gamer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  max-width: 70%;
  background-color: honeydew;
  padding: 2rem;
  border-radius: 3rem;
  margin: 5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  max-width: 70%;
  background-color: honeydew;
  padding: 2rem;
  border-radius: 3rem;
  font-size: 2rem;
}

button {
  margin: 2rem;
  border-radius: 0.5rem;
  border-style: none;
  text-decoration: none;
  background-color: honeydew;
}

button:hover {
  transform: scale(2);
}

button:focus {outline: 0;}
input {
padding: 0.5rem;
font-size: 2rem;

}
input:focus {outline: 0;}

